header {
    display: flex;
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
}

body {
    background-color: grey;
    font-family: 'Fira Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}
  
  nav {
      display: flex;
      align-items: center;
  }

  p {
    width: 60%;
    left: 25%;
    bottom: 30%;
}

h1 {
    color: white;
    padding: 5px;
    margin-left: 10px;
}

.name:hover, .project:hover, .contact1:hover {
    background-color:grey;
  }

.contact {
    display: flex;
    justify-content: center;
    color: white;
}

  .nav_links {
    display: flex;
    width: 650px;
    justify-content: space-evenly;
    position: relative;
    left: 630px;
    font-size: 24px;
  }
  
  nav {
      display: flex;
      align-items: center;
  }

  footer {
    padding: 20px;
    background-color: purple;
    display: flex;
    flex-direction: column;
    width: 6%;
    align-items: center;
    position: relative;
    left: 46%;
    height: 50vh;
    justify-content: space-around;
    border-radius: 10px;
  }