body {
    background-color: grey;
    font-family: 'Fira Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.world {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
    color: white;
}

.name {
    color: white;
    padding: 5px;
    margin-left: 10px;
}

img {
    display: flex;
    width: 15%;
    position: relative;
    left: 40%;
    padding: 30px;
    border-radius: 50%;
  }

  header {
    display: flex;
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
}
  
  nav {
      display: flex;
      align-items: center;
  }

  .nav_links {
    display: flex;
    width: 650px;
    justify-content: space-evenly;
    position: relative;
    left: 630px;
    font-size: 24px;
  }

  p {
      position: relative;
      width: 60%;
      left: 23%;
      bottom: 30px;
      color: white;
  }

  .name:hover, .project:hover, .contact1:hover {
    background-color:grey;
  }
